.article {
  background: var(--foreground);
  border-radius: var(--border-radius-lg);
  width: 100%;
  border: 1px solid var(--border)
}

.article__content {
  padding: 20px;
}

.article__image {
  width: 100%;
  height: 260px;
  position: relative;
  border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
  overflow: hidden;
}

.article__image img {
  object-fit: cover;
}

.article__title {
  font-size: var(--fs-xlg);
  color: var(--heading);
  margin-bottom: 1rem;
}

.article__created_at {
  font-size: var(--fs-xxsm);
  text-transform: capitalize;
}

.article__created_at--distance {
  font-size: var(--fs-xxsm);
  text-transform: unset;
}

.article__author__title {
  font-size: var(--fs-xms);
  font-weight: 500;
}

.article__author__avatar {
  border-radius: 50%;
}

.article__author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 8px;
}