.blog_post {
  padding: 40px 24px 40px 24px;
  background: var(--foreground);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  margin: 0 auto 4rem auto
}

.blog__header {
  margin-top: 4rem;
  padding: 0 24px;
}

.blog_banner {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
}

.blog__author {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

.blog__author__avatar {
  border-radius: 50%;
}

.blog__author__title {
  font-size: var(--fs-xsm);
  font-weight: 700;
}

.blog_banner img {
  object-fit: cover;
}

.blog_post__title {
  font-size: var(--fs-lg);
}

.blog_post__header {
  margin-bottom: 2rem;
}


.blog_post__back_button {
  color: var(--heading);
  font-weight: 600;
}
.blog_post__article {
  font-size: var(--fs-lg);
  width: 100%;
  white-space: pre-line;
}

.blog_post__article > * {
  width: 100%;
  white-space: pre-line;
}


.blog_post__article > * {
  font-size: var(--fs-xsm);
}

.blog_post__article h2 {
  font-size: var(--fs-md);
  display: block;
  margin-top: 2rem;
}

.blog_post__article p {
  display: inline-block;
  margin-top: 20px;
  color: var(--heading)
}

.blog_post__meta {
  margin: 1.5rem 0;
}

.blog__post__created_at {
  text-transform: capitalize;
  font-size: var(--fs-xsm);
}


.blog_post__article strong {
  display: inline-block;
  margin-bottom: 0.8rem;
  line-height: 2.2rem;
}

.blog_post__article figure {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
  position: relative;
}

.blog_post__article span {
  font-size: var(--fs-xsm);
}

.blog_post__article figure {
  display: grid;
  gap: 0.5rem
}

.blog_post__article figcaption {
  font-size: 12px;
  text-align: center;
}

.blog_post__article figure iframe,
.blog_post__article figure img {
  object-fit: contain;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.blog_post__article code {
  border-radius: var(--border-radius);
  margin-top: 3rem;
  padding: 0.5rem;
  font-weight: 500;
}

.blog_post__article code {
  width: 100%;
  white-space: pre-line;
  line-height: 1.4rem;
}

.blog_post__article a {
  font-weight: 500;
  color: var(--heading);
}

@media (min-width: 762px) {
  .blog_banner {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    height: 400px
  }

  .blog__header {
    padding: 0;
  }
}