:root {
  --background: #f1f2f5;
  --foreground: #EFE9E2;
  --text: #1D1B1A;
  --body: #757575;
  --invertBackground: #000;
  --invertText: #f1f2f5;
  --lightGray: #c5d2d9;
  --alert: #F8E176;
  --primary: rgba(0,118,255,.9);
  --green: #45c32e;
  --red: #ef1818;

  --fs-xs: .875rem;
  --fs-sm: 1rem;
  --fs-md: 1.25rem;
  --fs-lg: 1.5rem;
  --fs-xlg: 1.75rem;
}



html, body, main {
  height: 100%
}

body {
  background: var(--background)
}
