.tag {
  font-weight: 500;
  color: var(--heading);
  text-decoration: none;
  font-size: var(--fs-xsm);
  padding: 4px 7px;
  border-radius: var(--border-radius);
}

.tag:hover,
.tag:focus {
  background-color: var(--background);
  color: var(--heading);
  border: 1px solid var(--border)
}