.sidebar {
  height: max-content;
  display: grid;
  gap: 2rem
}

.sidebar__card,
.sidebar__card--transparent {
  background: var(--foreground);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  padding: 24px;
  display: grid;
  gap: 1.2rem
}

.sidebar__card--transparent {
  background: transparent;
  padding: 24px 0;
}

.sidebar__section__title {
  font-size: var(--fs-sm);
  font-weight: 700;
}

.sidebar__icon {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__icon:hover {
  background-color: var(--background);
  border-radius: var(--border-radius);
}

.section__tag__item {
  text-decoration: none;
  color: var(--heading);
  font-weight: 400;
  font-size: var(--fs-sm);
  list-style: none;
}

 .section__tag__item a {
  padding: 8px; 
  display: flex;
  border-radius: var(--border-radius);
}

.section__tag__item a:hover {
  background: var(--foregroundOpacity)
}
.section__tag__item:hover a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}